In [20]:
SELECT COUNT(*) AS 'Foglalások száma'
FROM Foglalas
WHERE YEAR(mettol) = YEAR(meddig)

INTERSECT

SELECT COUNT(*) AS 'Foglalások száma'
FROM Foglalas
WHERE MONTH(mettol) <> MONTH(meddig)